{% extends "base.html" %}

{% block page_content %}


<h1>Area BAR</h1>

<h2>Inizia nuova scansione</h2>

{% if messages %}
<div class="alert alert-info" role="alert">
  {% for message in messages %}
    {{ message }}
  {% endfor %}
</div>
{% endif %}

<p>inserisci il codice della tessera per iniziare</p>
<form action="{% url 'bar' %}" method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="code" class="form-label">Codice</label>
    <input type="text" class="form-control" id="code" name="code" placeholder="codice tessera">
  </div>
  <button type="submit" class="btn btn-primary">Inizia scansione</button>
</form>
<hr>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis amet quis porro minima eius reprehenderit est tenetur nesciunt nam. Id ab velit distinctio porro laboriosam. Ratione sunt aut nam molestias.</p>


{% endblock page_content %}