{% extends "base.html" %}

{% block page_content %}


<h1>Gestione tessere</h1>

<div class="row mb-3">
  <form class="row g-3" action="{% url 'cards' %}" method="get">
    <div class="col-6">
      <input type="text" class="form-control" id="q" name="q" placeholder="Inserisci nome o cognome">
    </div>
    <div class="col-1">
      <button type="submit" class="btn btn-primary mb-3">Cerca</button>
    </div>

    <div class="col-3">
    <a href="{% url 'cards' %}" class="btn btn-secondary mb-3">Resetta filtri</a>
    </div>

    <div class="col-2">
      <a href="{% url 'cards_create' %}" class="btn btn-success mb-3">Crea nuova tessera</a>
    </div>
  </form>
</div>

<form action="{% url 'search_card' %}" id="scan_form" method="post">
  {% csrf_token %}
  <input type="text" class="form-control mb-3" id="card_code" name="card_code" hidden>
</form>

<hr>

<table class="table table-striped table-hover">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Categoria</th>
        <th scope="col">Saldo</th>
    </tr>
  </thead>
  <tbody>
    {% for u in users %}
      <tr {% if u.total_spent == 0 %}class="table-warning"{% elif u.total_spent < 0 %}class="table-danger"{% endif %} onclick="window.location.href='/cards/{{u.id}}'" style="cursor: pointer;">
          <th scope="row">{{u.id}}</th>
          <td><b>{{u.name}}</b></td>
          <td><b>{{u.surname}}</b></td>
          <td>{{u.category.name}}</td>
          <td>{{u.balance}} €</td>
      </tr> 
    {% endfor %}
    
  </tbody>
</table>



<script>
        
    let code = "";
    let reading = false;

    let cardNumberInput = document.getElementById('card_code');
    let form = document.getElementById('scan_form');

    window.addEventListener('keypress', e => {

    if (e.keyCode === 13) {
            if(code.length >= 36) {
                console.log("Code: " + code);
                cardNumberInput.value = code;
                form.submit();
            }
        } else {
            code += e.key;      
        }

        if(!reading) {
            reading = true;
            setTimeout(() => {
                code = "";
                reading = false;
            }, 1500);
        }
    });

  </script>


{% endblock page_content %}