
{% extends "base.html" %}

{% block page_content %}


<h1>Nuova tessera</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis amet quis porro minima eius reprehenderit est tenetur nesciunt nam. Id ab velit distinctio porro laboriosam. Ratione sunt aut nam molestias.</p>
<hr>

<div class="row mb-3">
  <form class="row g-3" action="{% url 'cards_create' %}" method="post">
    {% csrf_token %}
    <div class="col-6">
      <input type="text" class="form-control" id="name" name="name" placeholder="Nome" required>
    </div>
    <div class="col-6">
      <input type="text" class="form-control" id="surname" name="surname" placeholder="Cognome" required>
    </div>
    <div class="col-6">
      <select class="form-select" id="category" name="category" required>
        <option value="" selected disabled>Seleziona categoria</option>
        {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select>
    </div>
    

    
    <div class="col-6">
      <button type="submit" class="btn btn-success mb-3">Crea tessera</button>
    </div>
    <div class="col-6">
      <a href="{% url 'cards' %}" class="btn btn-secondary mb-3">Annulla</a>
    </div>
  </form>
</div>  



{% endblock page_content %}