{% extends "base.html" %}

{% block page_content %}

<!-- Messages -->

{% if message %}

{% if message_type == 'error' %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% elif message_type == 'success' %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% elif message_type == 'warning' %}
<div class="alert alert-warning" role="alert">
    {{ message }}
</div>
{% else %}
<div class="alert alert-info" role="alert">
    {{ message }}
</div>
{% endif %}

<p>Premi <b>INVIO</b> per continuare o <a href="{{ redirect_url }}">clicca qui</a>.</p>

<!-- <div>
    <a href="{{ redirect_url }}" class="btn btn-primary">Clicca qui per continuare</a>
</div> -->

{% endif %}

<!-- End messages -->


<script>
    // use enter key to redirect
    document.addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            window.location.href = "{{ redirect_url }}";
        }
    });
</script>
  
{% endblock page_content %}