{% extends "base.html" %}

{% block page_content %}


<h1>
    Instructions
</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis amet quis porro minima eius reprehenderit est tenetur nesciunt nam. Id ab velit distinctio porro laboriosam. Ratione sunt aut nam molestias.</p>


<hr>

<h1>Pagine disponibili</h1>

<ul>
    <li><a href="/bar">Area BAR</a></li>
    <li><a href="/cards">Gestione tessere</a></li>
    <li><a href="/cards_print">Stampa tessere</a></li>
    <li><a href="/admin" target="_blank">Admin</a></li>

{% endblock page_content %}