{% extends "base.html" %}

{% block page_content %}

<h2>Login</h2>

{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form }}

    <button type="submit" class="btn btn-primary mt-4">Login</button>
</form>

<hr>

<!-- <p>To register account <a href="{% url 'register' %}">Click here</a></p>
<p>Forgot Password?: <a href="{% url 'password_reset'%}">password_reset</a></p> -->


{% endblock page_content %}