{% extends "base.html" %}

{% block page_content %}


<h1>
    Istruzioni per l'uso
</h1>

<p>
    <i>In arrivo...</i>
</p>

<hr>

<h1>Pagine disponibili</h1>

<ul>
    <li><a href="/bar">Area BAR</a></li>
    <li><a href="/cards">Gestione tessere</a></li>
    <li><a href="/cards_print">Stampa tessere</a></li>
    <li><a href="/admin" target="_blank">Admin</a></li>
    <li><a href="/transaction-summary">Totali</a></li>

    <li><a href="/card_info" target="_blank">Card info</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

{% endblock page_content %}